---
import Layout from '@layouts/Layout.astro'
import { socials } from '@utils/data'
import { Icon } from 'astro-icon'

type Socials = {
  name: string
  url: string
  imgSrc: string
  ariaLabel: string
}
---

<Layout
  title='Reza Kargar | Socials'
  description='Links for social media of Reza Kargar'
  withLinksInFooter = {false}
>
  <main class=''>
    <img
      src='https://avatars.githubusercontent.com/u/29206777?v=4'
      class='mx-auto mb-5 w-60 rounded-md border-2 border-solid border-primary-orange'
    />
    <h2 class='mb-3 px-2 text-center text-3xl text-white'>Reza Kargar</h2>
    <p class='mb-5 px-2 text-center text-2xl font-bold'>
      Software Engineer
    </p>
    <div class='flex flex-col items-center justify-center gap-6 md:gap-2'>
      {
        socials.map((opt: Socials) => {
          return (
            <a
              class='text-md flex w-[350px] items-center justify-center rounded bg-secondary-purple px-8 py-3 text-center font-medium text-gray-800 transition hover:rotate-2 hover:scale-110 focus:outline-none focus:ring active:bg-primary-purple md:w-[450px]'
              href={opt.url}
              aria-label={opt.ariaLabel}
              target="_blank"
            >
              <Icon name={opt.imgSrc} class='mr-2 text-primary-orange' />
              <p class='text-gray-800'>{opt.name}</p>
            </a>
          )
        })
      }
    </div>
  </main>
</Layout>
